
<title>Shareforce API</title>

<link rel="shortcut icon" href="/static/favicon.ico"/>

<link rel="stylesheet" type="text/css" href="/static/main.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
