<html>
<head>

	{{template "header.tmpl.html"}}

</head>
<body>

	<div style="margin: 0px auto; text-align: center; letter-spacing: 1px;">
		SHAREFORCE API<br/><br/>
		<span>รันได้!</span>
	</div>

</body>
</html>
